{% extends 'base.html' %}

{% block content %}
  <h2>Sign up for a  account</h2>
  <p class="lead">Select below the type of account you want to create</p>
  <a href="{% url 'student_signup' %}" class="btn btn-student btn-lg" role="button">I'm a student</a>
  <a href="{% url 'teacher_signup' %}" class="btn btn-teacher btn-lg" role="button">I'm a teacher</a>
{% endblock %}
