{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
 
<div class="jumbotron container row">
    <div class="col-md-6">
        
    <h1>Schedule Class {{date}}</h1>
        <div class="card card-body">
           <form action="" method="POST">
              {% csrf_token %}
                {{form.as_p}}
                <br>
             <input type="submit" name="Submit">
             </form>
             
            </div>
        </div>
        <div class="row">
          <div class="col-md-9">
              <h5>Class Created:</h5>
              
              <div class="card card-body">
                  <table class="table table-sm">
                      <tr>
                          <th>Class Id</th>
                          <th>Class Schedule Date</th>
                          <th>Class Duration</th>                    
                      </tr>
                      {% for a in classschedule %}
                        <tr>
                            <td>{{a.classId}} </td>
                            <td>{{a.classScheduleDate}} </td>
                            <td>{{a.totalDuration}} </td>
                        </tr>
                      {% endfor %}
                  </table>
              </div>
          </div>
          <div class="row">
            <div class="col-md-9">
                <h5>Student Details:</h5>
                
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                            <th>Class Started</th>
                            <th>Class Ended</th>
                            <th>Total Active Duration</th>   
                            <th>Status</th>                 
                        </tr>
                        {% for a in attendtutorial %}
                      <tr>
                          <td>{{a.class_start}} </td>
                          <td>{{a.class_end}} </td>
                          <td>{{a.active_time}} </td>
                          <td>{{a.status}} </td>
                      </tr>
                      {% endfor %}
                    </table>
                </div>
            </div>
      </div>
    </div>
 
</div>
{% endblock %}
