{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
 
<div class="jumbotron container row">
    <div class="col-md-6">
        
    <h1>Schedule Class {{date}}</h1>
        <div class="row">
          <div class="col-md-9">
                      
              <div class="card card-body">
                  <table class="table table-sm">
                      <tr>
                          <th>Class Id</th>
                          <th>Class Schedule Date</th>
                          <th>Class Duration</th>                    
                      </tr>
                      {% for a in classscheduling %}
                      <tr>
                          <td>{{a.classId}} </td>
                          <td>{{a.classScheduleDate}} </td>
                          <td>{{a.totalDuration}} </td>
                      </tr>
                      {% endfor %}
                  </table>
              </div>
          </div>
      </div>
      <form action="actionUrl" method="post"> 

          {% csrf_token %}
      
        <!-- FORM SUBMIT BUTTONS-->
       
        <button type="submit" name="startClass" value="startClass">&nbsp;START CLASS</button>
        <button type="submit" name="exitClass" value="exitClass">&nbsp;EXIT CLASS</button>
       </form> <!-- end form-->
    </div>
 
</div>
{% endblock %}
